In [24]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('7e2a5cbc-954b-455c-8d4c-0606055c8497_Data.csv')

In [3]:
df.head()

,Country Name,Country Code,Series Name,Series Code,1982 [YR1982],2012 [YR2012]
0,United States,USA,"Population, total",SP.POP.TOTL,231664000,314112078
1,United States,USA,GDP per capita (current US$),NY.GDP.PCAP.CD,14438.97628,51456.65873
2,United States,USA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,74.36097561,78.74146341
3,Afghanistan,AFG,"Population, total",SP.POP.TOTL,12667001,29726803
4,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,..,690.842629

In [4]:
df.columns

Index([u'Country Name', u'Country Code', u'Series Name', u'Series Code',
       u'1982 [YR1982]', u'2012 [YR2012]'],
      dtype='object')

In [30]:
df = df.drop_duplicates(['Country Name','Series Name']).dropna()

In [32]:
df2012 = df.pivot(index=u'Country Name',
         columns=u'Series Name', 
         values='2012 [YR2012]')
df2012 = df2012.replace('..', np.nan).dropna()

In [35]:
df2012.to_csv('health_and_wealth_2012.csv')

In [38]:
df1982 = df.pivot(index=u'Country Name',
         columns=u'Series Name', 
         values='1982 [YR1982]')
df1982 = df1982.replace('..', np.nan).dropna()

In [39]:
df1982.to_csv('health_and_wealth_1982.csv')